body.format-dots .sections-dots .iconsection,
body.format-dots .sections-dots .children {
    display: flex;
    justify-content: center;
}

body.format-dots .sections-dots .iconsection {
    margin: 1rem;
}

body.format-dots .iconsection a {
    text-align: center;
}

body.format-dots .iconsection a:hover {
    text-decoration: none;
}

body.format-dots .iconsection .icon {
    /*width: 100px;*/
    /*border-radius: 50%;*/
    width: 100%;
    height: 140px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    transition: all .5s;

    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}

body.format-dots .iconsection .icon i.fa {
    font-size: 32px;
}

body.format-dots .iconsection p {
    font-size: 1rem;
}

body.format-dots .iconsection .icon:hover {
    filter: grayscale(.4);
}

body.format-dots .children .iconsection .icon {
    height: 120px;
}

body.format-dots .iconsection .card {
    width: 240px;
}

body.format-dots .iconsection .card img {
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}

body.format-dots .iconsection .card .card-body {
    padding: .5rem;
}

body.format-dots .children .iconsection .card {
    width: 200px;
}

body.format-dots .sections-dots .iconsection .progress {
    border-radius: 0;
}

body.format-dots .sections-dots .iconsection .card-body {
    text-align: left;
}

body.format-dots .sections-dots .iconsection .status p {
    font-size: 75%;
    margin-bottom: 0;
}
